body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	  background-size:cover;
}
.navbar-nav
{
	align-items: center;
}
#myCarousel{
	padding-top: 100px;
}

.carousel-inner img{
  width:100%;
  height: 500px;
}

.navbar-inverse.navbar-nav > li > a:hover,
.navbar-inverse.navbar-nav > li > a:focus {
    color: #777;
}
.art-section
{
margin-top: 5px;	
}
.art-section img
{
	max-height: 200px;
	width: 100%;
	padding-bottom: 10px;
}
.btn{
	border-radius: 1px;
}
.login-form modal-title{
	text-align: center;
}
.login-form
{
text-align: center}
#con-gif
{
font-family: 'Economica', sans-serif;
font-size: 1.5em;
}
#con-gif h4
{
font-family: 'Economica', sans-serif;
font-size: 1.5em;
}
.gif-section
{
margin-top: 0px;	
}
.gif-section img
{
	height: 200px;
    width: 100%;
}
.jumbo{
	margin-bottom: 0px;
}
.gif-section figcaption{
	color: white;
}

.foot-sec
{
	margin-top: 10px;
background-color: #d2d5db;
}
.foot-sec ul 
{
	list-style: none;

}

@media screen and (max-width:959px)
{
	.carousel-caption h3{
		text-decoration-color: red;
		font-size: 20px;
		font-weight: 0.15em;
		padding-left: 10px;
		font-family: 'sans-serif';

	}
	.carousel-caption p{
		font-size: 10px;
		font-weight: 1em;
		
		font-family: 'sans-serif';

	}
}
@media screen and (max-width:600px)
{
	.carousel-caption h3{
		font-size: 10px;
		font-weight: 1em;
		padding-left: 10px;
		font-family: 'sans-serif';

	}
	.carousel-caption p{
		font-size: 10px;
		font-weight: 1em;
		
		font-family: 'sans-serif';

	}
}
@media screen and (max-width:240px)
{
	.carousel-caption h3{
		font-size: 10px;
		font-weight: 1em;
		padding-left: 10px;
		font-family: 'sans-serif';

	}
	.carousel-caption p{
		font-size: 10px;
		font-weight: 1em;
		
		font-family: 'sans-serif';

	}
}
@media screen and (max-width:200px)
{
	.carousel-caption h3{
		font-size: 5px;
		font-weight: 1em;
		
		font-family: 'sans-serif';

	}
	.carousel-caption p{
		font-size: 10px;
		font-weight: 1em;
		
		font-family: 'sans-serif';

	}
}

@media screen and(max-width:360px)
{
	.carousel-caption h3{
		font-size: 10px;
		font-weight: 1em;
		
		font-family: 'sans-serif';

	}
	.carousel-caption p{
		font-size: 10px;
		font-weight: 1em;
		
		font-family: 'sans-serif';

	}
}

